@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@500&display=swap');
.handwriting{
font-family: "Dancing script";
}
ol{
  color: white;
}
a{
  text-decoration: none;
}
.card{
  margin-top: 25px;
}
.icon{
  cursor: pointer;
  color: #a49d9d;
}
.icon:hover{
  color: white;
}